#range-slider-yellow .range-slider__thumb {
  background: #faa307;
  transition: transform 0.3s;
}
#range-slider-yellow .range-slider__range {
  background: #ffbf00;
  transition: height 0.3s;
}
.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none !important;
  background: #ccc;
  padding: 7px !important;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: #343a40 !important;
  width: 30px !important;
  border-radius: 50px !important;
}
