@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f7fc;
}

@font-face {
  font-family: inter;
  src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: inter-black;
  src: url("./assets/fonts/Inter-Black.ttf");
}
@font-face {
  font-family: inter-bold;
  src: url("./assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: inter-extrabold;
  src: url("./assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: inter-extralight;
  src: url("./assets/fonts/Inter-ExtraLight.ttf");
}
@font-face {
  font-family: inter-light;
  src: url("./assets/fonts/Inter-Light.ttf");
}
@font-face {
  font-family: inter-medium;
  src: url("./assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: inter-semibold;
  src: url("./assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: inter-thin;
  src: url("./assets/fonts/Inter-Thin.ttf");
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none !important;
  background: #ccc;
  padding: 5px !important;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: #7167ff !important;
  width: 23px !important;
  border-radius: 50px !important;
}
